<h3>Contact this seller</h3>
@Html.TextBox("name", null, new { @class = "form-control", placeholder = "your full name" })
@Html.TextBox("email", null, new { @class = "form-control", placeholder = "your email" })
@Html.TextArea("message", null, new { @class = "form-control", placeholder = "" })
<button type="submit" name="contact" class="btn btn-primary">
    Send
</button>
