<!--/* Revive Adserver iFrame Tag v3.0.5 */-->

<iframe id='ae0578b1' name='ae0578b1' src='http://localhost/revive/www/delivery/afr.php?zoneid=2&amp;target=_blank&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='468' height='60'><a href='http://localhost/revive/www/delivery/ck.php?n=a03a15c2&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://localhost/revive/www/delivery/avw.php?zoneid=2&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a03a15c2' border='0' alt='' /></a></iframe>
