@model Classifieds.Models.ViewModels.AListingViewModel
<div class="listing-left-column">
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Partial("~/Views/Shared/Widgets/_Listing_Seller.cshtml",Model)
            <div class="text-center">
                <img src="~/Images/Left_ads/ad.jpg" />
            </div>
            
        </div>
    </div>
</div>
