<div class="container">
    <div class="brand row">
        <div class="logo col-md-4">
            <a href="@Url.Action("index","home")"><img src="~/Images/logo.jpg" /></a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 social"><img style="padding-top:10px" align="right" height="50" src="~/Images/social1.jpg" /></div>
    </div>
</div>
