<h4>Help</h4>
<ul class="footer-help">
    <li>@Html.ActionLink("My Account", "index","listing")</li>
    <li>@Html.ActionLink("Submit bug report", "bugs","feedback")</li>
    <li>@Html.ActionLink("Submit feature request", "features","feedback")</li>
    <li>@Html.ActionLink("Frequently asked questions", "faqs","home")</li>
</ul>
