
@{
    ViewBag.Title = "Confirm Listing ID";
}

<h2>Confirm Listing ID</h2>
<p>
    @Html.ActionLink("List All Deals", "index", "deals", new {  }, new { @class = "btn btn-info" })
</p>
<hr/>
@using(Html.BeginForm()){
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h3>Step 1: Confirm ID</h3>
        @if (!String.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger">
                <p>@ViewBag.Error</p>
            </div>
        }
        <p>
            Please enter the listing ID and confirm listing details before proceeding to create new deal.
        </p>
        <div class="form-group">
            <div class="col-md-2 control-label"><strong>Listing ID</strong></div>
            <div class="col-md-2">
                @Html.TextBox("listing", null,new { @class = "form-control", placeholder="" } )
                
            </div>
            <div class="col-md-2"><input type="submit" value="Confirm" class="btn btn-default" /></div>
        </div>
    </div>
}

