
@{
    ViewBag.Title = "Deals ";
   // Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<h2>All deals</h2>
<p>
    @Html.ActionLink("New deal", "create", new { }, new { @class = "btn btn-info" })
</p>
