@{
    ViewBag.Title = "Confirm Account";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p class="alert alert-success">
        Account confirmed. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
