
@{
    ViewBag.Title = "tokensent";
    Layout = "~/Views/Shared/Layouts/_Layout_Pages.cshtml";
}

<h2>New Account Confirmation Token</h2>
<p class="alert alert-success">
    Your account successfully created. Thank you for your interest in Zimpapers Classifieds!
    </p>
<p class="alert alert-danger">
     Please check to your email for instructions to activate your account before you can login. 
</p>

