@using Classifieds.Library
@using Classifieds.Models.ViewModels
<div class="footer">
    <div class="container">
        <div class="row" style="text-align:center; padding-top:20px;">
            <img class="img-responsive" src="~/Images/foot.jpg" />
        </div>
        <div class="row">
            <div class="col-md-4">
               @Html.Partial("~/Views/Shared/Widgets/_LeftFooterWidget.cshtml")
            </div>
            <div class="col-md-4">
                @Html.Partial("~/Views/Shared/Widgets/_MiddleFooterWidget.cshtml")
            </div>
            <div class="col-md-4 ">
                @Html.Partial("~/Views/Shared/Widgets/_RightFooterWidget.cshtml")
             </div>
        </div>
    </div>
</div>
<footer>
    <p>&copy; @DateTime.Now.Year - Zimpapers (Pvt) Ltd. All rights reserved.</p>
</footer>
