<div class="container">
    <div class="row">
        <div class="col-md-12 margin-15-left">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#hot" data-toggle="tab">Hot Deals</a></li>
                <li><a href="#latest" data-toggle="tab">Latest</a></li>
                <li><a href="#random" data-toggle="tab">Random</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="hot">
                    <div class="featured-listings">
                        <div class="row">
                            @for (int i = 1; i < 7; i++)
                            {
                                <div class="col-md-2 featured-listing">
                                    <div class="featured-listing-image">
                                        <img src="~/Images/demo/@(i).jpg" style="height:130px" />
                                    </div>
                                    <div class="featured-listing-body">
                                        <span class="featured-listing-title">@Html.ActionLink("47\" Samsung UHD DDE TV", "details", "listing")</span>
                                        <div class="featured-listing-text">
                                            1080p HDTV with Micro Dimming: Best picture quality
                                            240Hz Refresh Rate, ...
                                        </div>
                                        <span class="featured-listing-price">$2 300</span>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="latest">latest</div>
                <div class="tab-pane fade" id="random">random</div>
            </div>
        </div>
    </div>
</div>

